<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Save Booking</title>
</head>
<body>
    <div class="container">
        <h1>Restaurant</h1>
        <hr>
        <h3>Booking</h3>
        <hr>
        <p class="h4 mb-4">Save Booking</p>
        <form action="#" th:action="@{/booking/save}"
              th:object="${booking}" method="POST">
            <!-- Add hidden form field to handle update -->
            <input type="hidden" th:field="*{id}" />
            <div class="form-inline">
                <input type="date" th:field="*{date}"
                       class="form-control mb-4 col-4" placeholder="Date">
                <span th:if="${#fields.hasErrors('date')}"
                      th:errors="*{date}"
                      class="badge badge-danger ml-2 mb-4"></span>
            </div>
            <div class="form-inline">
                <input type="time" th:field="*{time}"
                       class="form-control mb-4 col-4" placeholder="Time">
                <span th:if="${#fields.hasErrors('time')}"
                      th:errors="*{time}"
                      class="badge badge-danger ml-2 mb-4"></span>
            </div>
            <div class="form-inline">
                <input type="number" th:field="*{numberOfPeople}"
                       class="form-control mb-4 col-4" placeholder="People">
                <span th:if="${#fields.hasErrors('numberOfPeople')}"
                      th:errors="*{numberOfPeople}"
                      class="badge badge-danger ml-2 mb-4"></span>
            </div>
            <div class="form-inline">
                <input type="number" th:field="*{clientId}"
                       class="form-control mb-4 col-4" placeholder="Client ID">
                <span th:if="${#fields.hasErrors('clientId')}"
                      th:errors="*{clientId}"
                      class="badge badge-danger ml-2 mb-4"></span>
            </div>
            <button type="submit" class="btn btn-info col-2">Save</button>
        </form>

        <hr>
        <a th:href="@{/booking/list}">Back to Booking list</a>

    </div>
</body>
